
#loginscreen .middle-box {
    margin: 75px auto 20px;
    width: 96%;
    min-width: 241px;
}
@media screen and (min-width: 481px) {
    #loginscreen .middle-box {
        width: 450px;
    }
}
.login-box {
    border: 1px solid #dbdbdb;
    background-color: #fff;
    padding: 44px;
    border-radius: 3px;
}

.loginColumns {
  width: 760px;
  margin: 8% auto 0;
}
.logo-name {
  color: #e6e6e6;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0px;
}
.lockscreen.middle-box {
  width: 200px;
  margin-left: -100px;
  margin-top: -190px;
}
.middle-box h1 {
  font-size: 170px;
}
.card {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border: 1px solid #dbdbdb;
  background-color: #dbdbdb;
}

#guest-page .ibox-content {
  background-color: transparent;
  border: 0;
}