.img-responsive {
  height: 400px !important ;
}
.slick-prev:before, .slick-next:before {
    color: #1ab394 !important;
    z-index: 1000 !important;
    font-size: 25px !important;
}
.slick-prev {
    left: 0 !important;
}

.slick-next {
    right: 0 !important;
}
.apt-name {
    margin-bottom: 30px;
    color: #18a689;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
}
.panel-heading {
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    color: #18a689;
    font-size: 20px !important;
    font-weight: 400 !important;
    letter-spacing: 2px;
}
